body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3fdf6; 
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}


h1,
h2 {
  color: #14532d;
}

button {
  background-color: #16a34a;
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #15803d;
}

input,
select {
  padding: 7px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #14532d;
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}


